.wrapper {
  // font-size: 1.6rem;
  // font-weight: 700;
  // min-width: 100px;
  // border-radius: 4px;
  // padding: 9px 17px;
  // position: relative;
  // padding-top: 20px;

  display: inline-flex;
  align-items: center;
  justify-content: center;
  min-width: 100px;
  padding: 9px 16px;
  border-radius: 4px;
  font-size: 1.6rem;
  font-weight: 700;
  cursor: pointer;
  background-color: var(--white-color);
  border: 1px solid transparent;
  user-select: none;
  // + .wrapper {
  margin-left: 8px;
  // }

  &.disabled {
    // co do uu tien hon
    pointer-events: none;
    opacity: 0.5;
  }
}

// Button styles
.primary {
  background-color: var(--primary-color);
  color: var(--white-color);

  &:hover {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.06)),
      #fe2c55;
  }
}

.outline {
  border-color: var(--primary-color);
  color: currentColor;

  &:hover {
    background-color: rgba(254, 44, 85, 0.06);
  }
}
.rounded {
  border-radius: 100px;
  box-shadow: 0 2px 8px rgb(0 0 0 / 6%);
}
.text {
  &:hover {
    text-decoration: underline;
  }
}
// Disabled

// Button sizes
.small {
  min-width: 88px;
  padding: 4px 16px;
}
.large {
  min-width: 124px;
  padding: 14px 16px;
}
