@import "normalize.css";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;0,400;0,500;0,600;0,900;1,200;1,300;1,800;1,900&family=Roboto:ital,wght@0,500;1,300&display=swap");

:root {
  --primary-color: #fe2c55;
  --black-color: #000;
  // Default layout
  --white-color: #fff;
  --text-color: #333;
  --default-layout-header-height: 60px;
  --default-layout-header-width: 1150px;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 1.6rem;
  line-height: 1.5;
  text-rendering: optimizeSpeed;
  color: var(--text-color);
}

button,
input,
[tabindex] {
  outline: none;
  border: none;
}

a[href] {
  color: var(--text-color);
  text-decoration: none;
}
