.wrapper {
  --search-border-radius: 92px;
  --search-height: 46px;
  --search-top-spacing: 9px;

  width: 100%;
  height: var(--default-layout-header-height);
  box-shadow: 0px 1px 1px rgba(0 0 0);
  display: flex;
  align-items: center;
  justify-content: center;
}

.inner {
  height: 100%;
  width: 1150px;
  // background-color: #ccc;
  display: flex;
  // align-items: center;
  justify-content: space-between;
  // flex-direction: column;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  // width: 100%;
}

.search {
  top: 5px;
  position: relative;
  width: 361px;
  height: var(--search-height);
  background-color: rgba(22, 24, 35, 0.06);
  display: flex;
  // justify-content: center;
  // align-items: center;
  border-radius: var(--search-border-radius);
  border: 1px solid rgba(22, 24, 35, 0.06);
  padding: 0px 0px 0px 16px;

  input {
    flex: 1;
    font-size: 1.6rem;
    border: none;
    outline: none;
    background-color: transparent;
    padding: 12px 0;
    height: 100%;
    color: var(--black-color);
    caret-color: red;
  }

  input:not(:placeholder-shown) ~ .search-btn {
    color: rgba(22, 24, 35, 0.9);
  }

  // sudo elements
  &::after {
    content: "";
    position: absolute;
    top: var(--search-top-spacing);
    right: 52px;
    width: 2px;
    // height: 28px;
    height: calc(var(--search-height) - var(--search-top-spacing) * 2);
    background-color: rgba(22, 24, 35, 0.12);
  }

  &:focus-within {
    border: 1.5px solid rgba(22, 24, 35, 0.2);
  }
}

.clear,
.loading {
  position: absolute;
  right: 52px + 16px;
  top: 50%;
  transform: translateY(-50%);
}

.loading {
}

.search-btn {
  width: 52px;
  height: 100%;
  border: none;
  outline: none;
  border-top-right-radius: var(--search-border-radius);
  border-bottom-right-radius: var(--search-border-radius);
  font-size: 1.8rem;
  color: rgba(22, 24, 35, 0.34);

  &:hover {
    background-color: rgba(22, 24, 35, 0.03);
    cursor: pointer;
  }

  &:active {
    background-color: rgba(22, 24, 35, 0.06);
  }
}
